# Remnawave reverse proxy (Caddy)
# Домены: panel.32-network.online (панель), sub.32-network.online (страница подписки).
# Caddy получит SSL через Let's Encrypt при корректном DNS на IP панели.
#
# Источник примеров: https://docs.rw/docs/install/subscription-page/bundled (секция Caddy)
#
# Панель предполагается за Cloudflare Proxy (orange cloud).
# Origin должен принимать 80/443 только от IP Cloudflare:
# см. deploy/remnawave/scripts/lockdown_cloudflare_origin.sh
#
# Документация:
# - https://developers.cloudflare.com/fundamentals/concepts/cloudflare-ip-addresses/
# - https://developers.cloudflare.com/support/troubleshooting/restoring-visitor-ips/restoring-original-visitor-ips/

https://panel.32-network.online {
  reverse_proxy * http://remnawave:3000 {
    header_up Host {http.request.host}
    header_up X-Forwarded-Host {http.request.host}
    header_up X-Forwarded-Proto https
    header_up X-Real-IP {http.request.header.CF-Connecting-IP}
    header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
  }
}

https://sub.32-network.online {
  reverse_proxy * http://remnawave-subscription-page:3010 {
    header_up Host {http.request.host}
    header_up X-Forwarded-Host {http.request.host}
    header_up X-Forwarded-Proto https
    header_up X-Real-IP {http.request.header.CF-Connecting-IP}
    header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
  }
}
